capybara-*.html

spec/examples.txt

# specs create these in the course of operation, but they're
# ephemeral and shouldn't be committed.
tmp/*.csv
downloads

# configs to hold sensitive values
*.local.yml
